*{
    font-family: 'Noto Sans Bengali', sans-serif;
}
.site_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    height: 20vh;
}

.site_title{
    margin: 0;
    font-size: 2.5rem;
}

.site_logo {
    width: 10%;
    height: auto;
}